<div class="p-2">
    <div id="startAddressSearchAndResults" class="position-relative">
        <div class="input-group pb-3">
            <input type="text" id="startAddress" class="form-control" placeholder="Pretražite adresu polaska"
                autocomplete="off" />
            <button id="locationBtn" class="btn btn-outline-secondary" type="button" title="Trenutna lokacija">
                <i class="bi bi-crosshair"></i>
            </button>
        </div>
        <div id="startAddressDropdownSearch" class="dropdown-menu w-100 position-absolute"></div>
    </div>
    <div id="endAddressSearchAndResults" class="position-relative">
        <input type="text" id="endAddress" class="form-control" placeholder="Odaberite destinaciju"
            autocomplete="off" />
        <div id="endAddressDropdownSearch" class="dropdown-menu w-100 position-absolute"></div>
    </div>
</div>