:host {
    position: absolute;
}

.offcanvas {
  position: absolute;
}

.dropdown-menu {
  min-width: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-body-color);
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--bs-secondary-bg);
}