:host {
    position: absolute;
}

#narrow-sidebar {
  z-index: 9999;
}

.offcanvas {
  position: absolute;
}

.language-dropdown .dropdown-menu {
  min-width: auto;
}

#calc-sidebar {
  border-right: 1px solid var(--bs-border-color);
  min-width: 400px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-body-color);
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--bs-secondary-bg);
}