:host {
    position: absolute;
}

#sidebar-container {
  z-index: 9999;
}

.offcanvas {
  position: absolute;
}

.language-dropdown .dropdown-menu {
  min-width: auto;
}

#calc-sidebar {
  min-width: 400px;
  height: 100%;
  border-right: 1px solid var(--bs-border-color);
}