<h5 class="mb-3">Kalkulator putarine</h5>

<div class="mb-3">
    <div class="input-group">
        <input type="text" id="startAddress" class="form-control"
            placeholder="Pretražite adresu polaska, ili kliknite na mapi" />
        <button id="locationBtn" class="btn btn-outline-secondary" type="button" title="Trenutna lokacija">
            <i class="bi bi-crosshair"></i>
        </button>
    </div>
</div>

<div class="mb-3">
    <input type="text" id="endAddress" class="form-control" placeholder="Odaberite destinaciju" />
</div>