<div class="p-3">
    <h5 class="mb-0">Kalkulator putarine</h5>
</div>

<div class="p-3">
    <div class="input-group pb-3">
        <input type="text" id="startAddress" class="form-control"
            placeholder="Pretražite adresu polaska, ili kliknite na mapi" />
        <button id="locationBtn" class="btn btn-outline-secondary" type="button" title="Trenutna lokacija">
            <i class="bi bi-crosshair"></i>
        </button>
    </div>
    <input type="text" id="endAddress" class="form-control" placeholder="Odaberite destinaciju" />
</div>