/* Ensure full height cascade */
html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Icon styling */
#sidebar-container .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-body-color);
  text-decoration: none;
}

#sidebar-container .nav-link:hover {
  background-color: var(--bs-secondary-bg);
}